/** --- Reset --- */

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/** --- End reset --- */

/* --- Global tokens --- */

:root {
  --space0: 4px;
  --space1: 8px;
  --space2: 12px;
  --space3: 16px;
  --space4: 28px;
  --space5: 40px;
  --space6: 56px;
  --space7: 80px;
  --space8: 100px;

  color-scheme: light dark; /* both supported */
}

.theme-blue {
  /* --blue1: hsl(225 60% 99.4%);
  --blue2: hsl(223 100% 98.6%);
  --blue3: hsl(223 98.4% 97.1%);
  --blue4: hsl(223 92.9% 95%);
  --blue5: hsl(224 87.1% 92%);
  --blue6: hsl(224 81.9% 87.8%);
  --blue7: hsl(225 77.4% 82.1%);
  --blue8: hsl(226 75.4% 74.5%);
  --blue9: hsl(226 70% 55.5%);
  --blue10: hsl(226 58.6% 51.3%);
  --blue11: hsl(226 55% 45%);
  --blue12: hsl(226 62% 17%); */

  --blue1: hsl(185 60% 98.7%);
  --blue2: hsl(185 73.3% 97.1%);
  --blue3: hsl(186 70.2% 94.4%);
  --blue4: hsl(186 63.8% 90.6%);
  --blue5: hsl(187 58.3% 85.4%);
  --blue6: hsl(188 54.6% 78.4%);
  --blue7: hsl(189 53.7% 68.7%);
  --blue8: hsl(189 60.3% 52.5%);
  --blue9: hsl(190 95% 39%);
  --blue10: hsl(191 91.2% 36.8%);
  --blue11: hsl(192 85% 31%);
  --blue12: hsl(192 88% 12.5%);

  /* --blue1: hsl(255 65% 99.4%);
  --blue2: hsl(252 100% 99%);
  --blue3: hsl(252 96.9% 97.4%);
  --blue4: hsl(252 91.5% 95.5%);
  --blue5: hsl(252 85.1% 93%);
  --blue6: hsl(252 77.8% 89.4%);
  --blue7: hsl(252 71% 83.7%);
  --blue8: hsl(252 68.6% 76.3%);
  --blue9: hsl(252 56% 57.5%);
  --blue10: hsl(251 48.1% 53.5%);
  --blue11: hsl(250 43% 48%);
  --blue12: hsl(254 60% 18.5%); */

  --slate1: hsl(206 30% 98.8%);
  --slate2: hsl(210 16.7% 97.6%);
  --slate3: hsl(209 13.3% 95.3%);
  --slate4: hsl(209 12.2% 93.2%);
  --slate5: hsl(208 11.7% 91.1%);
  --slate6: hsl(208 11.3% 88.9%);
  --slate7: hsl(207 11.1% 85.9%);
  --slate8: hsl(205 10.7% 78%);
  --slate9: hsl(206 6% 56.1%);
  --slate10: hsl(206 5.8% 52.3%);
  --slate11: hsl(206 6% 43.5%);
  --slate12: hsl(206 24% 9%);
}

.theme-blue.dark-mode {
  /* --blue1: hsl(229 24% 10%);
  --blue2: hsl(230 36.4% 12.9%);
  --blue3: hsl(228 43.3% 17.5%);
  --blue4: hsl(227 47.2% 21%);
  --blue5: hsl(227 50% 24.1%);
  --blue6: hsl(226 52.9% 28.2%);
  --blue7: hsl(226 56% 34.5%);
  --blue8: hsl(226 58.2% 44.1%);
  --blue9: hsl(226 70% 55.5%);
  --blue10: hsl(227 75.2% 61.6%);
  --blue11: hsl(228 100% 75.9%);
  --blue12: hsl(226 83% 96.3%); */

  --blue1: hsl(192 60% 7.2%);
  --blue2: hsl(192 71.4% 8.2%);
  --blue3: hsl(192 75.9% 10.8%);
  --blue4: hsl(192 79.3% 12.8%);
  --blue5: hsl(192 82.5% 14.6%);
  --blue6: hsl(192 86.6% 16.9%);
  --blue7: hsl(192 92.6% 20.1%);
  --blue8: hsl(192 100% 24.5%);
  --blue9: hsl(190 95% 39%);
  --blue10: hsl(188 100% 40%);
  --blue11: hsl(186 100% 42.2%);
  --blue12: hsl(185 73% 93.2%);

  --slate1: hsl(200 7% 8.8%);
  --slate2: hsl(195 7.1% 11%);
  --slate3: hsl(197 6.8% 13.6%);
  --slate4: hsl(198 6.6% 15.8%);
  --slate5: hsl(199 6.4% 17.9%);
  --slate6: hsl(201 6.2% 20.5%);
  --slate7: hsl(203 6% 24.3%);
  --slate8: hsl(207 5.6% 31.6%);
  --slate9: hsl(206 6% 43.9%);
  --slate10: hsl(206 5.2% 49.5%);
  --slate11: hsl(206 6% 63%);
  --slate12: hsl(210 6% 93%);
}

/* --- End global tokens --- */

body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 19px;
  line-height: 30px;
  color: var(--slate12);
  background-color: var(--slate1);
}

::selection {
  background: var(--blue7);
}

/** --- Header --- */

.site-header {
  display: flex;
  max-width: 960px;
  justify-content: space-between;
  margin: auto;
  margin-top: var(--space6);
  margin-bottom: var(--space8);
  /* justify-content: center; */
  border-radius: 3px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-header a {
  color: var(--blue12);
  padding: var(--space0) var(--space3);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  position: relative;
}

.site-header a:hover {
  /* text-decoration: underline; */
  background-color: var(--blue1);
  border-radius: 3px;
}

.site-header a::before {
  content: ' ';
  background-color: var(--blue6);
  position: absolute;
  top: -20px;
  right: -100px;
  bottom: -20px;
  left: -100px;

  z-index: -1;
  filter: blur(200px);
  opacity: 0.2;
}

.site-header a.logo {
  font-weight: 600;
  font-size: 1em;

  padding-top: var(--space3);
  padding-bottom: var(--space3);
}

.logo-avatar {
  object-fit: cover;
  border-radius: 99999px;
  margin-right: var(--space3);
  width: 55px;
  height: 55px;
  box-shadow: 0px 0px 0px 1px var(--slate1);
}

.dark-mode-switcher {
  background-color: transparent;
  border: none;
  outline: none;
  padding: var(--space2);
  margin-right: calc(-1 * var(--space2));
  border-radius: 3px;
  width: 42px;
  height: 42px;
  color: var(--blue12);
  margin-left: var(--space3);
}

.dark-mode-switcher:hover {
  background-color: var(--blue12);
  color: var(--blue1);
}

.dark-mode-switcher svg {
  width: 100%;
  height: 100%;
}

.dark-mode .moon-icon {
  display: none;
}
.sun-icon {
  display: none;
}
.dark-mode .sun-icon {
  display: block;
}

/** --- Article --- */

article {
  max-width: 720px;
  margin: auto;
  padding-bottom: var(--space8);
}

.article-header {
  margin-top: var(--space6);
  margin-bottom: var(--space6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: calc(-1 * var(--space3));
}

/** --- Headlines --- */

h1 {
  max-width: 660px;
  /* margin-bottom: var(--space1); */
  font-size: 2.25em;
  line-height: 1.05;
  font-weight: 700;
  color: var(--blue12);

  padding: var(--space3) var(--space3);
  background-color: var(--blue1);
  /* background: linear-gradient(180deg, var(--blue2), var(--blue3)); */
  border-radius: 6px 6px 6px 0;

  position: relative;
}

h1::after {
  content: ' ';
  background-color: var(--blue7);
  position: absolute;
  top: -40px;
  right: -130px;
  bottom: -40px;
  left: -130px;
  opacity: 0.7;
  z-index: -1;
  filter: blur(200px);
}

.by-line {
  font-size: 0.8em;
  color: var(--blue11);
  opacity: 0.75;

  background-color: var(--blue1);
  border-radius: 0 0 6px 6px;
  padding: var(--space1) var(--space3);
}

article h2 {
  font-size: 1.7em;
  font-weight: 600;
  color: var(--blue11);
  margin-top: var(--space7);
  margin-bottom: var(--space5);
  letter-spacing: -0.3px;
}

article h3 {
  font-size: 1.15em;
  font-weight: 400;
  color: var(--blue12);
  margin-top: var(--space4);
  margin-bottom: var(--space3);
  letter-spacing: -0.1px;
}

article h2 + p,
article h3 + p {
  margin-top: 0;
}

/** --- Link --- */

article a {
  color: var(--blue12);
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--blue9);
  border-top: 2px solid transparent;
}

article a:hover {
  color: var(--slate1);
  background-color: var(--blue10);
  border-bottom-color: var(--blue10);
  border-top-color: var(--blue10);
  border-radius: 3px;
}

/** --- Paragraph --- */

article p {
  margin-top: var(--space5);
  margin-bottom: var(--space5);
}

/** --- Image --- */

article img {
  display: block;
  border-radius: 3px;
  /* max-width: calc(100% + var(--space6) * 2);
  margin-left: calc(-1 * var(--space6));
  margin-right: calc(-1 * var(--space6)); */
  margin-top: var(--space6);
  margin-bottom: var(--space6);
  box-shadow: 3px 15px 15px 0px rgba(0, 0, 0, 0.1),
    3px 15px 10px 0px rgba(0, 0, 0, 0.1), 2px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

/** --- Pre --- */
article pre {
  background-color: var(--slate3);
  color: var(--blue12);
  border-radius: 3px;
  margin-left: calc(-1 * var(--space6));
  margin-right: calc(-1 * var(--space6));
  padding-left: var(--space6);
  padding-right: var(--space6);
  padding-top: var(--space3);
  padding-bottom: var(--space3);
  margin-top: var(--space6);
  margin-bottom: var(--space6);
  font-size: 0.925em;
  overflow-x: auto;
}

article code {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 4px;
  padding-right: 4px;
}

article pre code {
  padding-left: 0;
  padding-right: 0;
}

/** --- Footer --- */

footer {
  background: var(--slate12);
  min-height: 300px;
}
